<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilewallet"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.mobilewallet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.mobilewallet.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Read contacts from phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.mobilewallet.googleanalytics.MobileWalletGoogleAnalytics"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mobilewallet_theme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mobilewallet" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GCMNotificationIntentService" />

        <!-- Receiver to receive Installation status -->
        <receiver android:name=".gcm.ReferralReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".TabsActivity"
            android:label="@string/title_activity_tabs" />
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Dialog" />
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".users.Balance"
            android:label="@string/title_activity_balance" />
        <activity
            android:name=".users.CreditHistory"
            android:label="@string/title_activity_credit_history" />
        <activity
            android:name=".users.DebitHistory"
            android:label="@string/title_activity_debit_history" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/NoTitleBar" >
        </activity>
        <activity
            android:name=".users.BalanceActivity"
            android:label="@string/title_activity_balance" >
        </activity>
        <activity
            android:name=".DailyCredits"
            android:label="@string/title_activity_daily_credits" >
        </activity>
        <activity
            android:name=".Notifications"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".users.MyProfile"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name=".WalletHistoy"
            android:label="@string/title_activity_wallet_histoy" >
        </activity>
        <activity
            android:name=".recharge.RechargeHistory"
            android:label="@string/title_activity_recharge_history" >
        </activity>
        <activity
            android:name=".DailyCreditsSuccess"
            android:label="@string/title_activity_daily_credits_success" >
        </activity>
        <activity
            android:name=".users.EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".ChangeMobileNumber"
            android:label="@string/title_activity_change_mobile_number" >
        </activity>
        <activity
            android:name=".CMN_verification"
            android:label="@string/title_activity_cmn_verification" >
        </activity>
        <activity
            android:name=".recharge.RechargeConfirmation"
            android:label="@string/title_activity_recharge_confirmation" >
        </activity>
        <activity
            android:name=".recharge.RechargeSuccess"
            android:label="@string/title_activity_recharge_success" >
        </activity>
        <activity
            android:name=".earnrewards.EarnRewards"
            android:label="@string/title_activity_earn_rewards" >
        </activity>
        <activity
            android:name=".earnrewards.UserQuestions"
            android:label="@string/title_activity_user_questions" >
        </activity>
        <activity
            android:name=".Question"
            android:label="@string/title_activity_question" >
        </activity>
    </application>

</manifest>