<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordlypost"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WordlyPostGoogleAnalytics"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Worlypost_theme" >

        <!-- Google play services version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabsActivity"
            android:label="@string/title_activity_tabs" >
        </activity>
        <activity
            android:name=".CategoryPostsFragment"
            android:label="@string/title_activity_category_posts_fragment" >
        </activity>
        <activity
            android:name=".PostViewFragment"
            android:label="@string/title_activity_post_view" >
        </activity>
        <activity
            android:name=".PostViewSwipeActivity"
            android:label="@string/title_activity_post_view_swipe" >
        </activity>
        <activity
            android:name=".SearchPost"
            android:label="@string/title_activity_search_post"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AboutWordlyPost"
            android:label="@string/title_activity_about_wordly_post" >
        </activity>
        <activity
            android:name=".RecentPosts"
            android:label="@string/title_activity_recent_posts" >
        </activity>
        <activity
            android:name=".CommentView"
            android:label="@string/title_activity_comment_view" >
        </activity>
        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy" >
        </activity>
        <activity
            android:name=".TagPosts"
            android:label="@string/title_activity_tag_posts" >
        </activity>
    </application>

</manifest>